.title-home {
  color: #fefefe;
  font-size: 38px;
  font-style: normal;
}

.btn-home {
  width: 7rem;
  height: 2rem;
  border: none;
  background-color: white;
}

.btn-home:hover {
  /* width: 10.2rem;
    height: 3.2rem; */
  background-color: rgba(255, 255, 255, 0.904);
}

/* .swiper {
  width: 240px;
  height: 320px;
} */

/* .swiper-slide {
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
} */

.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #3e0578 !important;
  height: 1rem;
}

/* --------------- Estilos empezando en lg ----------- */
@media (min-width: 992px) {
  .title-home {
    color: #fefefe ;
    font-size: 68px;
    font-style: normal;
  }

  .btn-home {
    width: 10rem;
    height: 3rem;
  }
}
