body {
    background: linear-gradient(270deg, #5C0799 0%, #3D0577 100%) !important;
}



/* Background color */
.background-rose{
    background-color: #FF28DF !important;
}

.background-purple{
    background-color: #3E0578 !important;
}



/* Text colors */
.txt-color-rose{
    color: #FF28DF;
}

.txt-color-purple{
    color: #3E0578;
}



/* Border radius */
.b-radius-8{
    border-radius: 8px;
}



/* Font weight */
.fw-500{
    font-weight: 500;
}

.fw-700{
    font-weight: 700;
}

/* Box shadow */
.box-shadow1{
    box-shadow: -2px 2px 2px rgba(153, 139, 139, 0.4);
}


/* Elements help */
.cursor-pointer {
    cursor: pointer;
}