.borde-down {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.btn-user {
  width: 9rem;
  height: 2.5rem;
  border: none;
  background-color: white;
}

.btn-user:hover {
  background-color: rgba(255, 255, 255, 0.904);
}

.nav-item {
  padding: 1rem;
}
.nav-item:hover {
  background-color: rgba(31, 29, 29, 0.784);
}


